h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    border: 1px solid lightcoral;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}

.nombre {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info {
    text-align: justify;
}